body {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bolder;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 18px;
    gap: 200px;

}

.header-links-right {
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: 100;
    color: #e5e7eb;
    margin-right: -15px;
}

a {
    padding-right: 18px;
}

.container {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 80px;
    padding-bottom: 80px;
    

}

.sub-body-container {
    display: flex;
    flex-direction: column;
    width: 475px;
    font-size: 48px;
    font-weight: bolder;
    
}

.subtext {
    font-size: 18px;
    font-weight: 200;
    color: #e5e7eb;
}

.img-container {
    align-self: center;
    background-color: #9b9d9e;
    padding: 75px 100px;
}

button {
    display: flex;
    margin-right: auto;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    border-style: none;
    padding: 5px 20px;
    margin-top: 5px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 35px;
    margin-bottom: 35px;
}

.info-container {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 200px;
    margin-bottom: 70px;
}

.sub-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 175px;
    text-align: center;
    margin: 20px;
    gap: 5px;
    color: #9b9d9e;
}

.blue-box {
    border-style: solid;
    height: 175px;
    width: 175px;
    border-color: #3882f6;
    border-radius: 10%;
}


.quote-block {
    background-color: #e5e7eb;
    padding: 100px;
}
.quote {
    display: flex;
    flex-direction: column;
    width: 750px;
    background-color: #e5e7eb;
    margin: auto;
}

.quote-text {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
   font-family: 'Roboto';
   font-weight: lighter;
   font-style: italic;
   font-size: 39px;
   color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    margin-top: 10px;
}

.footer-center {
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    width: 750px;
    padding: 50px 100px;
    border-style: none;
    border-radius: 10px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 800;
}

.button-mod {
    display: flex;
    align-self: center;
    margin-left: 150px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
   
    
}
