body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 18px;

}

.header-links-right {
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: 100;
    color: #e5e7eb;
}

a {
    padding-right: 18px;
}
